@media(min-width: 1000px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        background: url(../images/bg-header-desktop.png);
        background-repeat: no-repeat;
        font-family: 'Bai Jamjuree', sans-serif;
    }
    header{
        display: block;
        padding: 0px 280px;
        margin-top: 150px;
        text-align: center;
    }
    .beginning img{
        width: 100px;
        padding-bottom: 20px;
    }
    .beginning h1{
        font-size: 40px;
        color: hsl(210, 10%, 33%);
        padding-bottom: 20px;
    }
    .beginning p{
        color: hsl(201, 11%, 66%);
        font-size: 18px;
        padding-bottom: 20px;
        padding-left: 70px;
        padding-right: 70px;
    }
    .ios{
        padding: 20px 30px;
        font-size: large;
        font-family: 'Bai Jamjuree', sans-serif;
        color: white;
        border: 0;
        border-radius: 70px;
        background-color: hsl(171, 66%, 44%);
        padding-bottom: 20px;
    }
    .mac{
        padding: 20px 30px;
        font-size: large;
        font-family: 'Bai Jamjuree', sans-serif;
        color: white;
        border: 0;
        border-radius: 70px;
        background-color: hsl(233, 100%, 69%);
        padding-bottom: 20px;
        /* box-shadow: 0px 5px 5px 5px hsl(233, 100%, 69%); */
    }
    .pg-1{
        display: block;
        text-align: center;
        padding: 0px 330px;
        margin-top: 150px;
    }
    .pg-1 h3{
        font-size: 30px;
        color: hsl(210, 10%, 33%);
        padding-bottom: 20px;
    }
    .pg-1 p{
        font-size: 18px;
        color: hsl(201, 11%, 66%);
        padding-bottom: 20px;
    }
    .pg-2{
        display: flex;
        justify-content: space-between;
        margin-top: 90px;
    }
    .pg-2 div img{
        width: 600px;
    }
    .pg-2-details div{
        display: block;
        margin-top: 48px;
        padding-left: 70px;
        padding-right: 300px;
    }
    .pg-2-details div h3{
        font-size: 25px;
        color: hsl(210, 10%, 33%);
    }
    .pg-2-details div p{
        font-size: 18px;
        color: hsl(201, 11%, 66%);
        padding-bottom: 0px;
    }
    .second-section{
        display: block;
        text-align: center;
        margin-top: 55px;
        padding: 0px 330px;
    }
    .pg-3 h3{
        font-size: 30px;
        color: hsl(210, 10%, 33%);
    }
    .pg-3 p{
        font-size: 18px;
        color: hsl(201, 11%, 66%);
        padding-bottom: 50px;
    }
    .pg-3-image img{
        width: 600px;
    }
    .pg-4 h3{
        font-size: 30px;
        color: hsl(210, 10%, 33%);
    }
    .pg-4 p{
        font-size: 18px;
        color: hsl(201, 11%, 66%);
    }
    .third-section{
        display: flex;
        text-align: center;
        padding: 0px 150px;
        margin-top: 100px;
        gap: 90px;
    }
    .pg-5 h4{
        font-size: 25px;
        color: hsl(210, 10%, 33%);
    }
    .pg-5 p{
        font-size: 18px;
        color: hsl(201, 11%, 66%);
    }
    .pg-6 h4{
        font-size: 25px;
        color: hsl(210, 10%, 33%);
    }
    .pg-6 p{
        font-size: 18px;
        color: hsl(201, 11%, 66%);
    }
    .pg-7 h4{
        font-size: 25px;
        color: hsl(210, 10%, 33%);
    }
    .pg-7 p{
        font-size: 18px;
        color: hsl(201, 11%, 66%);
    }
    .pg-8{
        display: flex;
        padding: 0px 150px;
        gap: 80px;
        margin-top: 100px;
    }
    .fifth-section{
        display: block;
        text-align: center;
        margin-top: 100px;
        padding: 0px 340px;
    }
    .pg-9 h2{
        font-size: 30px;
        color: hsl(210, 10%, 33%);
        padding-bottom: 20px;
    }
    .pg-9 p{
        font-size: 18px;
        color: hsl(201, 11%, 66%);
        padding-bottom: 50px;
    }
    .footer{
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        background-color: hsl(210, 17%, 98%);
        padding: 20px 150px;
        height: 120px;
    }
    .foot-1 img{
        width: 50px;
        margin-top: 15px;
    }
    .foot-2{
        display: flex;
        margin-right: 100px;
        margin-top: 17px;
        gap: 50px;
    }
    .foot-2 div{
        display: block;
        color: hsl(210, 10%, 33%);
    }
    .foot-2 div p{
        padding-bottom: 20px;
    }
    .foot-3{
        display: flex;
        margin-top: 25px;
        gap: 20px;
    }
    .foot-3 img{
        width: 30px;
        height: 30px;
    }
}
